.productview-section {
  padding-top: 70px;
  .container {
    display: grid;
    padding: 30px 0;
  }
  .title {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 20px;
    h5 {
      font-weight: 400;
      font-size: 15px;
      color: #3d3d3d;
    }
    a {
      font-weight: 400;
      font-size: 15px;
      color: #3d3d3d;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        font-weight: 700;
      }
    }
  }

  .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .card-imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 448px;
    .smalImgs {
      display: grid;
      width: 100px;
      height: 100%;
      .imgs {
        width: 100%;
        height: 100px;
        background-color: #fbfbfb;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .image {
      width: 444px;
      height: 444px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: #fbfbfb;
      border-radius: 6px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .search {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        color: #3d3d3d;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .card-info {
    width: 50%;
    h2 {
      font-weight: 700;
      font-size: 28px;
      color: #3d3d3d;
      margin-bottom: 10px;
    }
    .price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: 0.5px solid #46a35880;
      margin-bottom: 10px;
      h3 {
        font-weight: 700;
        font-size: 22px;
        color: #46a358;
      }
      .star {
        display: flex;
        gap: 5px;
        svg {
          color: #ffac0c;
        }
        span {
          font-weight: 400;
          font-size: 15px;
          color: #3d3d3d;
        }
      }
    }
    h4 {
      font-weight: 500;
      font-size: 15px;
      color: #3d3d3d;
      margin-bottom: 10px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #727272;
      margin-bottom: 10px;
    }
    .sixeBtns {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      button {
        width: 28px;
        height: 28px;
        font-weight: 500;
        font-size: 14px;
        color: #727272;
        border: 1px solid #727272;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          border: 1px solid #46a358;
          color: #46a358;
          font-weight: 600;
        }
        &:focus {
          border: 1px solid #46a358;
          color: #46a358;
          font-weight: 600;
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 15px;
      .minus {
        background-color: #46a358;
      }
      .plus {
        background-color: #46a358;
      }
      .count {
        font-weight: 500;
        font-size: 20px;
        color: #3d3d3d;
      }
      .buyBtn {
        background-color: #46a358;
      }
      .addbtn {
        border: 1px solid #46a358;
        color: #46a358;
      }
      .heartBtn {
        border: 1px solid #46a358;
        color: #46a358;
        height: 36px;
        font-size: 20px;
      }
    }
    h5 {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
      color: #727272;
      margin-bottom: 10px;
      span {
        color: #3d3d3d;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 15px;
      p {
        font-weight: 500;
        font-size: 15px;
        color: #3d3d3d;
      }
      svg {
        color: #3d3d3d;
        cursor: pointer;
      }
    }
  }
}

.description-section {
  .container {
    padding: 40px 0;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #46a35880;
    button {
      position: relative;
      font-weight: 400;
      font-size: 17px;
      color: #3d3d3d;
      border: none;
      background: transparent;
      padding-bottom: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #46a358;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        font-weight: 600;
        color: #46a358;
      }
      &:hover::after {
        width: 100%;
      }
      &:focus {
        font-weight: 600;
        color: #46a358;
      }
      &:focus::after {
        width: 100%;
      }
    }
  }
  .card {
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #727272;
      margin-bottom: 15px;
    }
    h4 {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #3d3d3d;
      margin-bottom: 10px;
    }
  }
}

.product-slider {
  .container {
    padding: 40px 0;
  }
  h2 {
    font-weight: 700;
    font-size: 17px;
    color: #46a358;
    margin-bottom: 10px;
  }
  hr {
    border: 0.5px solid #46a35880;
    margin-bottom: 30px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .row {
      .imgs {
        width: 100%;
        height: 260px;
        padding: 20px;
        background-color: #fbfbfb;
        margin-bottom: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h4 {
        font-weight: 400;
        font-size: 15px;
        color: #3d3d3d;
        margin-bottom: 10px;
      }
      span {
        font-weight: 700;
        font-size: 16px;
        color: #46a358;
      }
    }
  }
  .slider {
    .swiper-button-prev {
      width: 15px;
    }
    .swiper-button-next {
      width: 15px;
    }
    .swiper-pagination-bullet {
      background-color: #46a358;
    }
  }
}
