.productComponent {
  width: 258px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 18px -2px rgba(0, 0, 0, 0.2);
  }
  .imgs {
    width: 100%;
    height: 300px;
    background-color: #fbfbfb;
    padding: 25px 4px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    &:hover .icons {
      bottom: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icons {
      position: absolute;
      bottom: -100%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.4s ease-in-out;
      button {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        svg {
          color: #3d3d3d;
          font-size: 20px;
          transition: all 0.3s ease-in-out;
        }
        &:hover svg {
          color: #46a358;
        }
      }
    }
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
  }
  span {
    font-weight: 700;
    font-size: 18px;
    color: #46a358;
  }
}
