.ShoppingModal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.4);
  z-index: 100;
  .wrapper {
    width: 500px;
    background-color: #ffffff;
    border-bottom: 8px solid #46a358;
  }

  .modalTitle {
    background-color: #f4f9f5;
    padding: 20px;
    text-align: center;
    position: relative;
    img {
      width: 50px;
    }
    h5 {
      font-weight: 400;
      font-size: 16px;
      color: #727272;
      margin-top: 10px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #46a358;
      font-size: 19px;
      cursor: pointer;
    }
  }

  .modalCard {
    padding: 10px 30px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      h6 {
        font-weight: 400;
        font-size: 14px;
        color: #727272;
        margin-bottom: 5px;
      }
      h5 {
        font-weight: 700;
        font-size: 15px;
        color: #727272;
      }
    }
    hr {
      border: 0.3px solid #46a35833;
      margin-bottom: 10px;
    }
    .col {
      display: flex;
      justify-content: space-between;
      .prices {
        display: flex;
        gap: 50px;
      }
      h3 {
        font-weight: 600;
        font-size: 15px;
        color: #3d3d3d;
        margin-bottom: 10px;
      }
    }
    .content {
      height: 40vh;
      //   scrollbar-width: none;
      overflow-y: auto;
      margin-bottom: 15px;
      .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fbfbfb;
        padding: 5px;
        margin-bottom: 19px;
        .imgName {
          display: flex;
          align-items: center;
          gap: 20px;
          .imgs{
            width: 60px;
            height: 60px;
            img{
                width: 100%;
            }
          }
          .titles {
            display: grid;
            align-items: center;
            h4 {
              font-weight: 500;
              font-size: 16px;
              color: #3d3d3d;
              margin-bottom: 5px;
            }
            h5 {
              font-weight: 400;
              font-size: 14px;
              color: #3d3d3d;
            }
          }
        }
        h6 {
          font-weight: 500;
          font-size: 14px;
          color: #727272;
        }
        span {
          font-weight: 600;
          font-size: 18px;
          color: #46a358;
        }
      }
    }
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h2 {
        font-weight: 700;
        font-size: 15px;
        color: #3d3d3d;
      }
      span {
        font-weight: 700;
        font-size: 17px;
        color: #46A358;
      }
    }
  }
  .btn{
    display: flex;
    margin: 0 auto;
    background-color: #46A358;
    margin-bottom: 20px;
  }
  .emptyModal{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
}
