.productCart-section {
  padding-top: 70px;
  .container {
    padding: 20px 0;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    a {
      font-weight: 400;
      font-size: 15px;
      line-height: 16px;
      color: #3d3d3d;
      transition: all 0.3s ease-in-out;
      &:hover {
        font-weight: 700;
      }
    }
  }

  .product-card {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .products {
    width: 70%;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.3px solid #46a35880;
      padding-bottom: 5px;
      margin-bottom: 10px;
      .col {
        display: flex;
        gap: 98px;
        padding-right: 130px;
      }
    }
    .content {
      display: grid;
      height: 60vh;
      overflow-y: auto;
      scrollbar-width: none;
      align-items: start;
      align-content: start;
      .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fbfbfb;
        margin-bottom: 10px;
        padding: 5px;
        .box-img {
          display: flex;
          align-items: center;
          gap: 20px;
          h4 {
            font-weight: 500;
            font-size: 16px;
            color: #3d3d3d;
            margin-bottom: 10px;
          }
          h6 {
            font-weight: 400;
            font-size: 14px;
            color: #727272;
          }
        }
        .imgs {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          img {
            width: 65px;
            height: 65px;
          }
        }
        .price {
          font-weight: 500;
          font-size: 16px;
          color: #727272;
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 15px;
          .minus,
          .plus {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #46a358;
            border: none;
            border-radius: 50%;
            color: white;
            font-size: 15px;
            cursor: pointer;
          }
          .count {
            font-weight: 500;
            font-size: 17px;
            color: #3d3d3d;
          }
        }
        .total {
          font-weight: 700;
          font-size: 16px;
          color: #46a358;
        }
        .del {
          font-size: 20px;
          color: #727272;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: red;
          }
        }
      }
    }
    .empty{
        img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }
  }

  .cartTotal {
    width: 30%;
    h2 {
      font-weight: 700;
      font-size: 18px;
      color: #3d3d3d;
      margin-bottom: 8px;
    }
    hr {
      border: 0.3px solid #46a35880;
      margin-bottom: 20px;
    }
    h4 {
      font-weight: 400;
      font-size: 14px;
      color: #3d3d3d;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      input {
        width: 80%;
        font-weight: 400;
        font-size: 14px;
        color: #a5a5a5;
        border: 1px solid #46a358;
        padding: 8px 20px;
        outline: none;
        border-radius: 3px;
      }
      .apply {
        background-color: #46a358;
        padding: 8px 20px;
        font-weight: 700;
        font-size: 15px;
      }
    }
    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 15px;
      color: #3d3d3d;
      margin-bottom: 15px;
      span {
        font-weight: 500;
        font-size: 18px;
        color: #3d3d3d;
      }
    }
    h6 {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #46a358;
      text-align: end;
      margin-bottom: 20px;
    }
    .total {
      font-weight: 700;
      font-size: 16px;
      color: #3d3d3d;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      span {
        color: #46a358;
      }
    }
    .checkout {
      padding: 8px 20px;
      display: block;
      width: 100%;
      background-color: #46a358;
      margin-bottom: 15px;
    }
    .shopping {
      padding: 8px 20px;
      display: block;
      width: 100%;
    }
  }
}
