footer {
  margin-top: 80px;
  .container {
  }
  .card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fbfbfb;
    h4 {
      font-weight: 700;
      font-size: 17px;
      color: #3d3d3d;
      margin: 10px 0;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #727272;
    }
    .box {
      width: 20%;
    }
    .box4 {
      width: 30%;
    }
    form {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      input {
        width: 80%;
        background-color: #ffffff;
        border: none;
        outline: none;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #acacac;
      }
      .btn {
        background-color: #46a358;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #ecf6ee;
    padding: 20px;
    h6 {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #3d3d3d;
      width: 300px;
      cursor: pointer;
      svg {
        font-size: 20px;
        color: #46a358;
      }
      .location {
        font-size: 28px;
      }
    }
  }

  .col {
    display: flex;
    gap: 120px;
    padding: 20px;
    border-bottom: 1px solid #46a35833;
    background-color: #fbfbfb;
    h4 {
      font-weight: 700;
      font-size: 18px;
      color: #3d3d3d;
      margin-bottom: 15px;
    }
    h6 {
      font-weight: 400;
      font-size: 14px;
      color: #3d3d3d;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .box {
      width: 15%;
    }
    .box4 {
      width: 35%;
    }
    .icons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      .btn {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #46a35833;
        background: transparent;
        color: #46a35899;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .content {
    padding: 20px;
    text-align: center;
    h6 {
      font-weight: 400;
      font-size: 14px;
      color: #3d3d3d;
    }
  }
}
