.loginModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000000, $alpha: 0.4);
  .content {
    width: 400px;
    // min-height: 400px;
    background-color: #fff;
    padding: 20px;
    border-bottom: 8px solid #46a358;
    text-align: center;
    position: relative;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 30px;
      margin-top: 10px;
      li {
        font-weight: 500;
        font-size: 18px;
        color: #3d3d3d;
        cursor: pointer;
        &.active {
          color: #46a358;
        }
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #46a358;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.login {
  width: 300px;
  text-align-last: left;
  margin: 0 auto;
  h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
  }
  form {
    width: 100%;
    input {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #3d3d3d;
      border: 1px solid #eaeaea;
      outline: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 10px;
      &:focus {
        border: 1px solid #46a358;
      }
    }
    .passwordInput {
      position: relative;
      svg {
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #727272;
        font-size: 18px;
      }
    }
    .col {
      margin-bottom: 20px;
      display: flex;
      justify-content: end;

      h5 {
        text-align: center !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #46a358;
        cursor: pointer;
      }
    }
    .login {
      font-weight: 700;
      font-size: 16px;
      padding: 8px 20px;
      margin-bottom: 30px;
      background-color: #46a358;
    }
    .google,
    .faceb {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      font-size: 13px;
      border: 1px solid #eaeaea;
      color: #727272;
      padding: 8px 20px;
      margin-bottom: 15px;
      svg {
        font-size: 18px;
      }
      .facebook {
        color: #3b5999;
      }
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h4 {
        font-weight: 400;
        font-size: 13px;
        color: #3d3d3d;
      }
      .line{
        width: 100px;
        border: 1px solid #EAEAEA;
      }
    }
  }
}

.register {
  width: 300px;
  text-align-last: left;
  margin: 0 auto;
  h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
  }
  form {
    width: 100%;
    input {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #3d3d3d;
      border: 1px solid #eaeaea;
      outline: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 10px;
      &:focus {
        border: 1px solid #46a358;
      }
    }
    .passwordInput {
      position: relative;
      svg {
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #727272;
        font-size: 18px;
      }
    }
    .col {
      margin-bottom: 20px;
      display: flex;
      justify-content: end;

      h5 {
        text-align: center !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #46a358;
        cursor: pointer;
      }
    }
    .login {
      font-weight: 700;
      font-size: 16px;
      padding: 8px 20px;
      margin-bottom: 30px;
      background-color: #46a358;
    }
    .google,
    .faceb {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      font-size: 13px;
      border: 1px solid #eaeaea;
      color: #727272;
      padding: 8px 20px;
      margin-bottom: 15px;
      svg {
        font-size: 18px;
      }
      .facebook {
        color: #3b5999;
      }
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h4 {
        font-weight: 400;
        font-size: 13px;
        color: #3d3d3d;
      }
      .line{
        width: 100px;
        border: 1px solid #EAEAEA;
      }
    }
  }
}